<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
 
  <test name="Regression1">
    <classes>
      <class name="com.MVN.SampleProject.SmokeTest"/>      
      <class name="com.MVN.SampleProject.MyFirstChromeTest"/>      
    </classes>
  </test>
</suite>
